name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - run: uv run --extra test pytest -v

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform init and validate
        run: |
          cd terraform/test
          terraform init -backend=false
          terraform validate
